<!-- Start Welcome Section -->
<div id="welcome">
  <div class="inner">
    <img src="/assets/label.png" width="987" height="343" alt="Portfolio of John Doe" />
    <div id="feature" class="clearfix">
      <div class="inner"> 
        <!-- Start Nivo Slider -->
        <div class="slider-wrapper theme-default">
          <div class="ribbon"></div>
          <div id="slider" class="nivoSlider"> <img src="/assets/slide.png" alt="Shocking Sale" title="#htmlcaption"  width="969" height="338"  /> </div>
        </div>
        <!-- End Htmlcaption --> 
      </div>
          <!-- End Slider --> 
    </div>
    <!-- End Feature Div --> 
  </div>
  <!-- End Inner Div -->   
</div>
<!-- End Welcome Div -->